.mission-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    height: 90vh;
    width: 100%;
    z-index: 10;
}

.mission-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 823px;
    height: 45%;
    /* border: 2px  solid #cb2323; */
}

.mission-top .back1 {
    position: absolute;
    width: 878.33px;
    height: 849.2px;
    left: -435.58px;
    top: -404.45px; 
    transform: rotate(101.86deg);
}

.mission-top .back2 {
    position: absolute;
    width: 991px;
    height: 841px;
    left: -327.93px;
    top: -456.52px;
    transform: rotate(126.86deg);
    z-index: -1;
}

.mission-bottom .back3 {
    position: absolute;
    width: 991px;
    height: 841px;
    /* left: 1090px; */
    right: -400px;
    top: 255.56px;
    z-index: -1;
}

.mission-bottom .back4 {
    position: absolute;
    width: 878.33px;
    height: 849.2px;
    right: -600px;
    top: 296.2px;
    transform: rotate(-25deg);
}



.mission-top h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.mission-top p {
    font-size: 20px;
    text-align: center;
    z-index: 100;
}

.mission-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 45%;
}

.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    height: 340px;
    /* border: 2px  solid #cb2323; */
    margin: 0 1rem;
}

.mission-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-bottom: 5px;
    z-index: 100;
}

.women {
    width: 115px;
    height: 165px;
}

.earth {
    width: 113px;
    height: 106px;
}

.heart {
    width: 129px;
    height: 112px;
}

.mission p {
    text-align: center;
    height: 40%;
    z-index: 100;
}



@media screen and (max-width: 1070px) {
    .mission {
        width: 300px;
        margin: 0 .5rem;
    }

    .mission-top .back1 {
        left: -535.58px;
        top: -404.45px; 
    }

    .mission-top .back2 {
        left: -427.93px;
        top: -456.52px; 
    }
}


@media screen and (max-width: 960px) {
    .mission-container {
        height: auto;
    }

    .mission-top {  
        width: 320px;
        height: 300px;
    }

    .mission-top h2 {
        font-size: 30px;
    }

    .mission-top p {
        font-size: 15px;
    }

    .mission-bottom {
        width: 100%;
        flex-direction: column;
    }

    .mission {
        width: 320px;
    }

    .mission-top .back1 {
        opacity: -1;
    }

    .mission-top .back2 {
        opacity: -1;
    }
}