.footer-container {
    position: relative;
    background-color: #242424;
    padding: 2rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    object-fit: contain;
    flex-direction: column;
    z-index: 100;
  }

  .footer-topcontainer {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    height: 70%;
    width: 100%;
  }
  
  .footer-subscription {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    left: 0;
    width: 35%;
    height: 100%;
    padding: 24px;
    color: #fff;
  }

  .social-logo .logos {
    color: #fff;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    height: 90px;
    width: 350px;
    cursor: pointer;
  }

  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 13px;
    padding-left: 13px;
    width: 270px;
  }
  
  .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 18px;
    padding-left: 13px;
  }
  
.input-areas {
    position: relative;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    width: 350px;
    height: 50px;
    /* border: 3px solid #0cfab3; */
}

  .footer-input {
    padding: 8px 20px;
    background: transparent;
    margin-right: 10px;
    outline: none;
    border: none;
    width: 290px;
    height: 50px;
    font-size: 18px;
  }

  .subscribe {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 65px;
    background: #ED3D48;
    border-radius: 25px;
    border: none;
  }

  .subscribe:hover {
    width: 70px;
  }

  .subscribe img{
    position: relative;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: .5s;
  }

  .subscribe:hover img {
    transform: scale(1.3);
  }
  
  .footer-links {
    position: relative;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-link-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 55px 0;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 16px;
  }
  
  .footer-link-items > h2 {
    color: #fff;
  }
  
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: #6a95ce;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2 {
    margin-bottom: 2rem;
  }
  
  .footer-input::placeholder {
    color: #b1b1b1;
  }
  
  /* Social Icons */

  .footer-bottomcontainer {
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .social-media-wrap {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: bottom;
    height: 90%;
    width: 100%;
    right: 0;
    bottom: 0;
  }

  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    bottom: 0;
  }
  
  .social-icons {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;
  }

  .social-icons i {
    margin: 0 10px;
    transition: .5s;
  }

  .social-icons .facebook:hover i {
    transform: translateY(-10px);
    color: rgb(0, 26, 255);
  }
  .social-icons .instagram:hover i {
    transform: translateY(-10px);
    color: rgb(255, 98, 0);
  }
  .social-icons .youtube:hover i {
    transform: translateY(-10px);
    color: rgb(253, 11, 11);
  }
  .social-icons .twitter:hover i {
    transform: translateY(-10px);
    color: rgb(25, 132, 238);
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 16px;
  }

  .copyright-notice {
    position: relative;
    align-items: center;
    text-align: center;
    bottom: 0;
  }

  @media screen and (max-width: 1070px) {
    .social-logo .logos {
      cursor: pointer;
      height: 70px;
      width: 320px;
    }

    .footer-subscription-heading {
      font-size: 11px;
    }
    
    .footer-subscription-text {
      font-size: 16px;
    }

    .input-areas {
      width: 300px;
      height: 40px;
  }
  
    .footer-input {
      width: 250px;
      height: 40px;
      font-size: 16px;
    }
  
    .subscribe {
      height: 40px;
      width: 55px;
    }

    .subscribe:hover {
      width: 60px;
    }

    .subscribe:hover img {
      transform: scale(1.2);
    }
  }
  
  @media screen and (max-width: 960px) {
    .footer-container {
      height: auto;
    }

    .footer-topcontainer {
      flex-direction: column;
      height: auto;
    }

    .footer-subscription {
      width: auto;
      justify-content: center;
      align-items: center;
    }

    .footer-subscription > p {
      text-align: center;
    }
    
    .footer-links {
      padding-top: 2rem;
      width: 100%;
    }
  
    .footer-input {
      width: 290px;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      align-items: center;
      flex-direction: column;
    }

    .footer-link-items {
      align-items: center;;
      text-align: center;
      margin: 16px 0;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }

    .social-icons {
      position: relative;
      width: auto;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 768px) {
  }